<html>
    <head>
        <link rel="stylesheet" href="sample.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- I'm importing Vue.js with the description below -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

        <div id="app">
            <!-- With v-model = "name", the date set in Vue.js and the HTML input element are synchronized. -->
            Name:<input v-model="name">
            Course:<input v-model="course">
            Course period:<input v-model="acceptancePeriod">
            <br>
            <!-- button v-on: click = "addStudent", select the method to start when the button is clicked -->
            <button v-on:click="addStudent">Add the entered student</button>

            <ul>
                <!-- With v-for = "student in students", the array students are cut out one by one and assigned to the variable student. -->
                <!-- v-bind: key = "student.id" is used to ensure the uniqueness of each extracted element. -->
                <li v-for="student in students" v-bind:key="student.id">
                    <!-- You can expand the expression of Vue.js data with the description written in {{}} -->
                    ID {{student.id}} /
                    Name {{student.name}} /
                    course {{student.course}} /
                    Course period {{student.acceptancePeriod}}
                </li>
            </ul>
        </div>

        <script src="sample.js"></script>
    </body>
</html>